// $mainColor:#7C88AE; //灰色
// // $mainColor:#297FCA;//蓝色
// // $mainColor:#525A65; // 深灰色



$darkColor:#090919;
$lightDarkColor:#090919;
// $cardBorderColor:rgba(49,61,79,.4);

$textLigh:#7082AF;
$white:#fff;
$blue:#2F59FF;
$green:#4AD991;
$yellow:#FFB844;
$red: #FF006D;
$medium-grey:#807e8f;
$light-grey:#b9b8c1;

$greenColor:#00c5d2;
$yellowColor:#edcd61;
$redColor:#ff87d4;


$paddingSize:12px;

$fontSizeNormal:$paddingSize;
$fontSizeLarge:$fontSizeNormal*2;
$fontSizeMiddle:$fontSizeNormal * 5 / 3;


// $paddingSize:12px;

// $fontSizeNormal:1em*3/4;
// $fontSizeLarge:$fontSizeNormal*2;
// $fontSizeMiddle:$fontSizeNormal * 5 / 3;

// /*默认*/
// @media screen and (min-width: 980px){$paddingSize:12px;
// }
// @media (min-width: 1440px) {$paddingSize:18px;
//  }
// @media (min-width: 1920px) {$paddingSize:24px; }
// $fontSizeNormal:$paddingSize;
// $fontSizeLarge:$fontSizeNormal*2;
// $fontSizeMiddle:$fontSizeNormal * 5 / 3;




